.card-anime {
  width: 105%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.card-animes {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px;
}

.icon svg path {
  fill: white;
}
