@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.card {
  width: 300px;
  height: 450px;
  background: #000;
  box-shadow: 17px -1px 91px -19px rgba(0, 0, 0, 0.75);
  margin-top: 2%;
}

.card .poster:before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #000 50%, transparent);
  transition: 0.5s;
}

.card .poster {
  position: relative;
  overflow: hidden;
}

.card .poster img {
  width: 100%;
}

.details {
  position: relative;
  padding: 20px;
  width: 100%;
  height: 70%;
  box-sizing: border-box;
  transition: 0.5s;
  z-index: 2;
  margin-top: -103%;
}

.details h2 {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 900;
}

.details h2 span {
  font-size: 14px;
  color: #ff9800;
}

.rating {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 20%;
  padding: 5px 0;
}

.rating .fa {
  color: #f7f406;
  font-size: 17px;
}

.rating span {
  color: #fff;
  margin-top: -4px;
}

.tags {
  position: relative;
  margin-top: 5px;
}

.tags span {
  padding: 2px 5px;
  margin-right: 2px;
  color: #fff;
  display: inline-block;
  border-radius: 4px;
}

.tags span.mangas {
  background: #7206f7;
}

.tags span.adventure {
  background: #f70661;
}

.info {
  color: #fff;
}

.info p {
  margin: 15px 0 10px;
}
